{
  "openapi": "3.1.0",
  "info": {
    "title": "Open Data Labs API",
    "version": "v1",
    "description": "Server-side API for discovering sources and creating hosted Connect sessions."
  },
  "servers": [
    {
      "url": "https://api.opendatalabs.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Sources",
      "description": "Discovery endpoints. Start here to confirm your API key works and to inspect available sources and scopes."
    },
    {
      "name": "Connect Sessions",
      "description": "Runtime server endpoints for creating hosted Connect flows."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Pass an Open Data Labs API key for server-to-server requests."
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Source": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "status",
          "scopes"
        ],
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "github",
              "oura",
              "instagram",
              "icloud_notes",
              "spotify"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "coming_soon",
              "beta"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Scope": {
        "type": "object",
        "required": [
          "id",
          "description",
          "category"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "ConnectSessionRequest": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "github",
              "oura",
              "instagram",
              "icloud_notes",
              "spotify"
            ],
            "example": "github"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri"
          },
          "origin": {
            "type": "string",
            "format": "uri"
          },
          "appId": {
            "type": "string"
          }
        }
      },
      "ConnectSessionResponse": {
        "type": "object",
        "required": [
          "connectionId",
          "connectToken",
          "connectUrl"
        ],
        "properties": {
          "connectionId": {
            "type": "string"
          },
          "connectToken": {
            "type": "string"
          },
          "connectUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/sources": {
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "List available sources",
        "description": "Recommended first authenticated request. Use it to verify your API key and see which sources can be connected before creating a hosted Connect session.",
        "operationId": "listSources",
        "responses": {
          "200": {
            "description": "All supported sources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "description",
                      "status",
                      "scopes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "enum": [
                          "github",
                          "oura",
                          "instagram",
                          "icloud_notes",
                          "spotify"
                        ]
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "available",
                          "coming_soon",
                          "beta"
                        ]
                      },
                      "scopes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "sources": {
                    "value": [
                      {
                        "id": "github",
                        "name": "GitHub",
                        "description": "Exports your GitHub profile, repositories, and starred repositories.",
                        "status": "available",
                        "scopes": [
                          "read:profile",
                          "read:repositories",
                          "read:starred"
                        ]
                      },
                      {
                        "id": "oura",
                        "name": "Oura Ring",
                        "description": "Exports your Oura Ring readiness scores, sleep data, and daily activity.",
                        "status": "available",
                        "scopes": [
                          "read:readiness",
                          "read:sleep",
                          "read:activity"
                        ]
                      },
                      {
                        "id": "instagram",
                        "name": "Instagram",
                        "description": "Exports your Instagram profile and posts.",
                        "status": "available",
                        "scopes": [
                          "read:profile",
                          "read:posts",
                          "read:following",
                          "read:ads"
                        ]
                      },
                      {
                        "id": "icloud_notes",
                        "name": "iCloud Notes",
                        "description": "Exports your Apple Notes and folders from iCloud.",
                        "status": "available",
                        "scopes": [
                          "read:notes",
                          "read:folders"
                        ]
                      },
                      {
                        "id": "spotify",
                        "name": "Spotify",
                        "description": "Exports your Spotify library, playlists, listening history, and preferences.",
                        "status": "coming_soon",
                        "scopes": [
                          "read:profile",
                          "read:savedTracks",
                          "read:playlists"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "error": "unauthorized",
                      "message": "Invalid or missing token"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sources/{source}/scopes": {
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "List scopes for a source",
        "description": "Returns the scopes your app can request for a specific source when creating a hosted Connect session.",
        "operationId": "listSourceScopes",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "oura",
                "instagram",
                "icloud_notes",
                "spotify"
              ],
              "example": "github"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scopes for the requested source.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "description",
                      "category"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "error": "unauthorized",
                      "message": "Invalid or missing token"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Source not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connect/sessions": {
      "post": {
        "tags": [
          "Connect Sessions"
        ],
        "summary": "Create a connect session",
        "description": "Creates a short-lived hosted Connect session for an approved frontend origin. Call this from your server after you have created an app and approved the iframe host origin for that app.",
        "operationId": "createConnectSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source"
                ],
                "properties": {
                  "source": {
                    "type": "string",
                    "enum": [
                      "github",
                      "oura",
                      "instagram",
                      "icloud_notes",
                      "spotify"
                    ],
                    "example": "github"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "redirectUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "origin": {
                    "type": "string",
                    "format": "uri"
                  },
                  "appId": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "createInstagramSession": {
                  "value": {
                    "source": "instagram",
                    "scopes": [
                      "read:profile",
                      "read:following"
                    ],
                    "appId": "odl_app_1234567890abcdef123456",
                    "origin": "https://app.example.com",
                    "redirectUrl": "https://app.example.com/connect/complete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connect session created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "connectionId",
                    "connectToken",
                    "connectUrl"
                  ],
                  "properties": {
                    "connectionId": {
                      "type": "string"
                    },
                    "connectToken": {
                      "type": "string"
                    },
                    "connectUrl": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "examples": {
                  "session": {
                    "value": {
                      "connectionId": "conn_1234567890abcdef",
                      "connectToken": "eyJhbGciOiJIUzI1NiJ9.example",
                      "connectUrl": "https://dashboard.opendatalabs.com/connect/instagram?token=eyJhbGciOiJIUzI1NiJ9.example"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "invalidRedirectUrl": {
                    "value": {
                      "error": "invalid_redirect_url",
                      "message": "redirectUrl must use the same origin as the approved iframe host."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "error": "unauthorized",
                      "message": "Invalid or missing token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The origin is not approved for the authenticated account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "originNotAllowed": {
                    "value": {
                      "error": "origin_not_allowed",
                      "message": "This origin is not approved for embedded connections. Add it in Dashboard -> Embed Origins.",
                      "requestedOrigin": "https://app.example.com"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}